<% provide(:title, 'edit profile page') %>
<h2>profile page html</h2>

<%= form_for(:profile, url: '/editprofile') do |f| %>

<textarea style="width:100%;height:20em" name="profile[profile_source]" id="profile_source"><%= current_aka.profile.profile_source || default_profile %></textarea><br>

<%= f.submit 'Save Profile Page', class:'btn', name:'save' %>

<a class="btn" href="javascript:previewTemplate()">Preview</a>

<% end %>

<%= form_tag request.protocol + Myaka::Application.config.profile_preview_domain + '/preview-profile',
    method: 'POST', id: 'preview_form' do  %>
  <input type="hidden" name="subdomain" value="<%= current_aka.subdomain %>">
  <input type="hidden" id="preview_template" name="template" value="">
<% end %>
